
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght @ 100 & display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}

body{
    background: dodgerblue;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
.container input{
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
}
.container button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: white;
    color: dodgerblue;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.container button:hover{
    color: white;
    background: #6ce9a6;
}
.main_content{
    display: flex;
    margin-top: 1rem;
}
.main_content .lista_li{
    font-size: 15px;
    font-weight: 700;
    list-style: none;
    text-align: center;
}
.tag_li{
    border: 1px solid white;
    width: 135px;
    background: white;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    display: grid;
    align-content: center;
    box-shadow: 5px 5px 10px black;

}
.txt{
    font-size: 50px;
    color: white;
    margin-bottom: 1rem;
    text-align: center;

}
.txt strong{
    color: gold;

}
.container button[class = "delete"]{
    width:70px;
    height: 40px;
}
.container .delete{
    margin-left: 10px;
    color: red;
    transition-duration: 0.3s;
    box-shadow: 5px 5px 10px black;
}
.container .delete:hover{
    color: white;
    background: red;
}