@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 300 & display = swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    transition: all 0.4s ease;
}

body{
    min-width: 100vw;
    min-height: 100vh;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
}


header .botoes button{
    margin-left: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: #B22CFF;
    font-size: 20px;
    transition-duration: 0.4s;
}
header .botoes button:hover{
    background: #B22CFF;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

.container1{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;

}
.container1 .txt{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 25px;
    color: #B22CFF;
    font-weight: 700;
}
.boxlogin{
    margin-top: 2rem;
    margin-left: 1.5rem;
    width: 350px;
    height: auto   ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #B22CFF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}
.boxlogin .inputs{
    margin-bottom: 0.5rem;

}
.boxlogin .inputs input{
    height: 30px;
    border: none;
    background: #ad7dc994;
    margin-bottom: 2rem;
    outline: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
}
.boxlogin .inputs input::placeholder{
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.btns button{
    width: 150px;
    height: 50px;
    margin-bottom: 1rem;
    background: #B22CFF;
    border-radius: 5px;
    color:white;
    border: none;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btns button:hover{
    box-shadow: 5px 5px 15px black;

}
.container2{
    width: 50vw;
    float: right;
}
.container2 img{
    width: 350px;
    height: 350px;
    margin-top: -20rem;
}

@media(max-width:360px){
    .container2{
        display: none;
    }
}
@media(max-width:360px){
    header{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
    }
}
@media(max-width:360px){
    .logo{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}
@media(max-width:360px){
    .container1{
width: 100vw;
    }
}
@media(max-width:360px){
    .boxlogin{
        width: 250px;
    }
}