@import url('https://fonts.googleapis.com/css2? família=Festivo&display=swap');

*{

    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"festivo",cursive
}
body{
    background:#ffa600;
    color:white;
    min-height: 100vh;
    min-width:100vw;
    display: flex;
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
main h1{
    margin-bottom: 4rem;
}
#res{
  margin-bottom: 2rem;
}
.botoes{
    margin-left: -2.1rem;
}
.botoes input{
 margin-left: 3rem;
 padding:15px;
 width: 100px;
 background:transparent;
 border:2px white solid;
 color:white;
 cursor: pointer;
 transition-duration:1s;
}
.botoes input[id="start"]:hover{
    background:green ;
}
.botoes input[id="stop"]:hover{
    background:red ;
}
.botoes input[id="reset"]:hover{
    background:white ;
    color: #ffa600;
}

