*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    transition: all 0.3s ease;
}

/*======================*/
body{
    display: flex;
    flex-direction: column;
}

header{
    width:100%;
    height: auto;
    padding-top: 10px;
    padding-bottom:10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(31, 30, 30, 0.637);
    background-attachment: fixed;
    position: fixed;
    color: white;
}
.logo{
    display:flex;
    align-items: center;
    flex-direction: row;
}
.contacthelp{
    display: flex;
    align-items: center;
}
/*===================================*/
.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
}
.container1{
    width:100%;
    height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size:100%;
}
.title1{
    text-align: center;
    color:white;
    margin-top: 30px;
}
.boxzipcode{
    width: auto;
    height: 240px;
    padding:1.5rem;
    background:white;
    color: grey;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px black;
    transition-duration: 0.3s;
}
.boxzipcode input[type="text"]{
    height:30px;
    border:none;
    outline: none;
    text-align: center;
}
.boxzipcode input[type="submit"]{
    height:50px;
    width:120px;
    margin-left: -6px;
    border:none;
    background-color: #34ca37;
    color: white;
    border-radius:10px 10px 10px 10px;
    cursor: pointer;
    font-size: 20px;
}
.boxzipcode input[type="submit"]:hover{
    background-color: #258326;

}


/* ========== Requerimento de preenchimento============== */

.inputs_requerid{
    border: 2px solid darkred;
    padding:10px;
    border-radius: 20px;
}
.inputs_requerid label{
    background-color: white;
    pointer-events: none;
    transition: all 0.3s ease;
    text-align: center;
    position: absolute;
    left: 530px;
    bottom: 230px;
}
.inputs_requerid.activeinputs_requerid{
    opacity: 1;
    pointer-events: auto;
    margin-top: -5rem;
}
.inputs_requerid input:focus ~ label{
    transform: translateY(-30px);
    padding-right: 5px;

}



/* ---------------------------------------------------------- */

/*======================================*/

/*container2*/
.container2{
    width:100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.container2 .title{
    width:100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerbtns{
    width:100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
}
.containerbtns  a{
   text-decoration: none;
   color: black;
}
.containerbtns  a:hover{
    text-decoration:underline;
}

.boxbtn1{
    width: 50vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}
.boxbtn2{
    width: 50vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}
/*=========================================*/
.title2{
    width:100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerbtns2{
    width:100%;
    height: 36vh;
    display: flex;
    flex-direction: row;
}
.containerbtns2  a{
    text-decoration: none;
    color: black;
 }
 .containerbtns2  a:hover{
     text-decoration:underline;
 }
.boxbtn3{
    width: 50vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}
.boxbtn4{
    width: 50vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}
/*FIM DO CONTAINER 2*/
/*===========================================*/

/*container 3*/
/*=========================================*/

.container3{
    width:100%;
    height: 80vh;
    display: flex;
    background: #F9F9F7;
}
.boxtext1{
    width: 50vw;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.boxtext2{
    width: 50vw;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.formulario{
    width: 28vw;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px black;
    border-radius: 3px;
}
.formulario a{
    text-decoration: none;
    background-color: #34ca37;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    transition-duration: 0.3s;
}
.formulario a:hover{
    background-color: #1c961e;
    
}





/*Resposividade*/

@media(max-width:768px){
    .inputs_requerid label{
        background-color: white;
        pointer-events: none;
        transition: all 0.3s ease;
        text-align: center;
        position: absolute;
        left:230px;
        bottom:510px;
    }
    .title1{
        font-size: 14px;
    }
    .container1{
        height: 70vh;
    }
    .container3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 100vh;
        background: #F9F9F7;
    
    }
}
