* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #16172c;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logintext {
    font-size: 25px;
    color: white;
    border-bottom: 1px solid rgb(3, 139, 244);
    text-align: center;
}

#formgrup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#entrarbtn button {
    margin-top: 2rem;
    width: 300px;
    height: 60px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    transition: 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
#entrarbtn button:hover{
 background-color: rgb(48, 81, 201);
}


#cadastrobtn button {
    width: 300px;
    height: 60px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: green;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
#cadastrobtn button:hover{
        background-color: rgb(61, 178, 61);
}

div.inputs{
    position: relative;
    margin-bottom: 25px;
    background: transparent;
    border: 1px solid gray;
    width: 300px;
    padding: 15px;
}
div.inputs span{
    position: absolute;
    left: 10px;
    transition: all 0.5s ease-in-out;
    color: grey;
    pointer-events: none;
    background-color: #16172c;
    padding-left: 3px;
    padding-right: 3px;
}
div.inputs .input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    background: transparent;
    color: white;
}
 #formgrup .inputs .input:focus ~ span,
 #formgrup .inputs .input:valid ~ span{
    transform: translateY(-25px);
}


#msgerro{
    color: red;
    background-color: rgb(216, 169, 169);
    display: none;
    transition: 0.3s ease;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}
#msgvalid{
    display: none;
    color: green;
    font-size: 15px;
    width: 300px;
    padding: 5px;
    background-color: rgb(146, 221, 146);
    text-align: center;
    border-radius: 5px;
}

.load{
    width: 25px;
    height: 25px;
    border: 3px outset grey;
    border-radius: 50%;
    margin-left: 1rem;
    animation: load 1s infinite;
    display: none;
}
@keyframes load{
    to{
        transform: rotate(1turn);
    }
}