*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #20458a;
}
.login{
    background-color: rgba(0, 0, 0, 0.678);
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.campos{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.campos input{
    height: 40px;
    padding: 15px;
}
.btn button{
    width: 150px;
    height: 40px;
    background-color: grey;
    color: white;
    border:none;
    margin-top: 5px;
    cursor:pointer;
}

@media(max-width:415px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        background-color: #20458a;
    }
    .login{
        background-color: rgba(0, 0, 0, 0.678);
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }
    
}